body {
    background-color: #000;
}
  
  a {
    color: #1ED760;
  }
  .btn-primary {
    background-color: #1ED760;
    border-color: #1ED760;
    color: #000;
  }
  
  .btn-primary:hover {
    background-color: #1ED760;
    border-color: #00000000;
  }
  
  .card-title {
    color: #fff;
  }
  
  .card-text {
    color: #ffffffa8;
  }
  
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #1ED760;
  }
  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  
  .jumbotron .h1,
  .jumbotron h1 {
    color: inherit;
  }
  
  @media screen and (min-width: 768px) {
    .jumbotron .h1,
    .jumbotron h1 {
      font-size: 63px;
    }
  }
  